In [2]:
import pandas as pd

In [3]:
products = pd.read_excel("/Users/jennifer/Documents/ETL in Python and SQL/Chapter_4/H+ Sport products.xlsx")

In [4]:
products.head()

  Product ID Product category                                   Item   Price
0      FT422          Fitness                 Battle rope - 1.5 inch   90.55
1      FT871          Fitness                   Battle rope - 2 inch  120.25
2      FT976          Fitness  Insulated water bottle - 24oz - Green   19.99
3      FT434          Fitness   Insulated water bottle - 24oz - Grey   19.99
4      FT172          Fitness   Insulated water bottle - 24oz - Pink   19.99

In [5]:
products["Price"] =  products["Price"]/0.92

In [6]:
products.head()

,Product ID,Product category,Item,Price
0,FT422,Fitness,Battle rope - 1.5 inch,98.423913
1,FT871,Fitness,Battle rope - 2 inch,130.706522
2,FT976,Fitness,Insulated water bottle - 24oz - Green,21.728261
3,FT434,Fitness,Insulated water bottle - 24oz - Grey,21.728261
4,FT172,Fitness,Insulated water bottle - 24oz - Pink,21.728261